@model UserModel;
@using Pizzaria.Enums;
@{
    ViewData["Title"] = "Cadastrar usuário";
}
@{
}
<form asp-controller="User" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="UserName" class="form-label">Nome completo</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite seu nome completo">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <select class="form-select w-25" asp-for="AdminEnum">
            <option selected>Selecione o perfil do usuário</option>
            <option value="@AdminEnum.Admin">Administrador</option>
            <option value="@AdminEnum.Standard">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.AdminEnum)
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label"> E-mail </label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Celular </label>
        <input type="number" asp-for="Phone" class="form-control" placeholder="Digite seu celular">
        @Html.ValidationMessageFor(x => x.Phone)
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Senha</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Digite sua senha">
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    
</form>