@model UserModel;
@using Pizzaria.Enums;
@{
    ViewData["Title"] = "Cadastrar usuário";
}
@{
}


<body id="login-body">
    <div class="login-container">
        <div class="login-wrapper">
            <form asp-controller="Home" asp-action="Create" method="post">
                <h1>Cadastre-se</h1>
                <div class="input-box">
                    
                    <input type="text" asp-for="Name" class="form-control" placeholder="Digite seu nome completo">
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div class="mb-3">
                    <input type="hidden" asp-for="AdminEnum" value="@AdminEnum.Standard" />
                    @Html.ValidationMessageFor(x => x.AdminEnum)
                </div>
                <div class="input-box">
                   
                    <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu e-mail">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="input-box">
                    
                    <input type="number" asp-for="Phone" class="form-control" placeholder="Digite seu celular">
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
                <div class="input-box">
                   
                    <input type="password" asp-for="Password" class="form-control" placeholder="Digite sua senha">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <button type="submit" class="btn">Cadastrar</button>
                <div class="register-link">
                    <p>Já tem uma conta?<a href="/Login/Index"> Entre</a></p>
                </div>

            </form>
        </div>
    </div>
</body>