@model PizzaModel;
@using Pizzaria.Enums;

@{
    ViewData["Title"] = "Atualizar pizzas";
}
<form asp-controller="Pizza" asp-action="Update" method="post">
    <div class="mb-3">
        <label for="pizzaFlavor" class="form-label">Sabor</label>
        <input type="text" asp-for="PizzaFlavor" class="form-control">
    </div>
    <div class="mb-3">
        <label for="pizzaImg" class="form-label">URL da imagem</label>
        <input type="text" asp-for="PizzaImg" class="form-control">
    </div>

    <select class="form-select" asp-for="SizeEnum">
        <option selected>Selecione o tamanho da pizza</option>
        <option value="@PizzaSizeEnum.P">Pequena</option>
        <option value="@PizzaSizeEnum.M">Média</option>
        <option value="@PizzaSizeEnum.G">Grande</option>
    </select>
    <select class="form-select" asp-for="SaltySweetEnum">
        <option selected>A pizza é salgada ou doce?</option>
        <option value="@SaltySweetEnum.Salgada">Salgada</option>
        <option value="@SaltySweetEnum.Doce">Doce</option>
    </select>
    <div class="mb-3">
        <label for="price" class="form-label">Preço</label>
        <input type="number" asp-for="Price" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>

</form>